<body>
    <form action="Balloos" action="POST">
        <h1>Balloons</h1>
        
                <input type="text" class="name" placeholder="EnterName" name="balloos">        
                <button type="submit">Pick</button>
       
    </form>
</body>